version: '3.9'
services:
  avalanchego:
    image: avaplatform/avalanchego:v1.11.7
    container_name: avalanchego
    restart: unless-stopped
    user: "1000:1000"
    entrypoint: ["/avalanchego/build/avalanchego"]
    volumes:
      - ./config/config.json:/home/avalanche/.avalanchego/config.json:ro
      - ./data:/home/avalanche/.avalanchego
    ports:
      - "9650:9650"   # HTTP API (C-Chain, Info, Health)
      - "9651:9651"   # Staking port
    environment:
      - AVALANCHEGO_METRICS_ENABLED=true
    command:
      - --config-file=/home/avalanche/.avalanchego/config.json
      - --public-ip=${PUBLIC_IP}
